body{
    font-family: var(--mainFont);
}
/* start header */
header ul{
display: flex;
gap: 35px;
}
.bar{
    display: none;
}
.list a{
    color: #0D0E43;
}
.list li.active a{
    color: var(--primary);
}
.search input{
    border: none;
    outline: none;
    padding-left: 9px; ;
}
.search button{
    border: none;
    outline: none;
    padding: 8px 13px;
   background-color: var(--primary);
}
.search form{
    border: 1px solid #E7E6EF;
    display: flex;
}

@media screen and (max-width:1200px) {
    .list,header.container .row .search{
        display: none;
    }
    .bar{
        display: block;
    }
} 
/* end header*/
/* start products*/
.Featured-products{
    padding: 50px 0px;
}
.Featured-products h2{
    margin-bottom: 15px;
}
.Featured-products .row{
    justify-content: flex-start;
    gap: 15px;
}
.Featured-products .product{
   flex-grow: 1;
   flex-basis: 300px;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 20px 20px;
}
.product .image{
    background-color: #F6F7FB;
     padding: 30px;
     height: 250px;
     object-fit: contain;
}
.product .product-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}



/* end products*/
/* start newslater*/
.Newslater{
    background-image: url('img/public/newslater.webp');
    padding: 175px 0px;
    text-align: center;

}
.Newslater h2{
    margin-bottom: 50px;
    color: #151875;
    font-size: 35px;
}
.shop-btn:hover{
background-color: #151875;
transition: 0.5s;
}




/*end newslater*/
/* start footer*/
.footer{
    background-color: #EEEFFB;
    padding: 50px 0px;
}
.footer .row{
    gap: 30px;
}
.left-side{
    align-items: flex-start;
    gap: 35px;
    width:calc( ( 100% - 20px ) / 2 );
    
}

.footer a ,.address-info{
    color: #8A8FB9;
}
.right-side{
    align-items: flex-start;
    gap: 35px;
    width:calc( ( 100% - 20px ) / 2 );
   
} 


@media screen and (max-width:992px) {
    .footer .left-side, .footer.right-side{
        width: 100%;
    }
    @media screen and (max-width:576px) {
        .footer{
            text-align: center;
        }
        .right-side{
            text-align: center;
        }

    .footer-item{
        width: 100%;
    }

/*end footer*/